<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Departments</title>
</head>
<body>
    <h2>All Department</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
                <td th:text="${department.id}"></td>
                <td th:text="${department.name}"></td>
                <td>
                    <a th:href="'/department/' + ${department.id}">Show</a>
                    <form th:action="'/department/delete/' + ${department.id}" method="post">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>