<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
  <h2>Edit Department</h2>
  <form th:object="${department}" th:action="@{'/department/edit/' + ${department.id}}" method="post">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" th:field="${department.name}" required>
    </div>
    <div>
      <label for="head">Head</label>
      <input type="text" id="head" name="head" th:field="${department.head}" required>
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="location" th:field="${department.location}" required>
    </div>
    <button type="submit">Update</button>
  </form>
</body>
</html>